.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: clamp(32px, 6vw, 65px);
    background-image: linear-gradient(to top, #d6ff38, white);
    height: clamp(150px, 20vw, 220px);
    text-transform: uppercase;
    letter-spacing: 2px;
}
